.score-btn {
  font-size: 1.5rem;
  width: 36px;
  height: 36px;
  border: 1px solid black;
  border-radius: 100%;
  box-shadow: 4px 4px #555;
  color: white;
  top: 0;
  left: 0;
  transition: all 0.05s ease 0s;

  &:active {
    position: relative;
    box-shadow: 0px 0px;
    top: 4px;
    left: 4px;
  }
}
.score-btn__plus {
  @extend .score-btn;
  margin-left: 0.5rem;
  background-color: red;
  color: white;
}

.score-btn__minus {
  @extend .score-btn;
  background-color: black;
}

.reset {
  background-color: none;
  border: 1px solid grey;
  text-decoration: underline;
  margin-left: auto;
  margin-top: 2rem;
  &:hover {
    border: 1px solid black;
  }
}
