.main-card {
  background-color: white;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px $black solid;
  border-radius: $b-rad;
}

.match-card {
  background-color: white;
  border: 1px solid $grey;
  font-size: 1rem;
  box-shadow: $shadow;
  display: flex;
  margin-top: 1rem;
  width: 75vw;
  min-width: 250px;
  flex-direction: column;

  &__complete {
    @extend .match-card;
    flex-direction: row;
  }
  &__complete {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-evenly;

    .result-display {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
    }

    .player {
      @extend .player;
      flex-direction: column;
      margin: auto;
      .emoji {
        font-size: 1.2rem;
      }
      .points {
        font-weight: 600;
        margin: auto;
      }
    }
  }
}

.info {
  width: 30px;
}

.strikethrough {
  text-decoration: line-through;
}

.round_over {
  @extend .form;
}
