.player {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  padding: 1rem;
}
.name {
  font-weight: 500;
  min-width: 50px;
}
.points {
  font-size: 1.4rem;
  min-width: 25px;
}
.emoji {
  font-size: 1.2rem;
}
