@import "reset";
@import "colors";
@import "settings";
@import "buttons";
@import "typography";
@import "player";
@import "cards";
@import "form";
@import "table";
@import "print";

.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding: 1rem;

  .header {
    padding: 2rem;
    background-image: url("../assets/racket.jpg");
    background-size: cover;
    border: 5px solid $black;
    h1 {
      padding: 1rem;
      background-color: $greyalpha;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
}
